@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.ttf");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  background: linear-gradient(
    145deg,
    rgba(45, 156, 219, 0.4) 17.23%,
    rgba(115, 0, 61, 0.4) 96.16%
  );
  height: 100%;
  width: 100%;
}

h1 {
  position: absolute;
  /* border: 1px solid #a889c6; */
  top: 2rem;
  left: 50%;
  padding: 12px 12px;
  transform: translate(-50%, -50%);
  font-family: "Pacifico";
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.container {
  padding-top: 2px;
  padding-bottom: 12px;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 200px;
  height: 120px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.iconProfile {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#name {
  position: absolute;
  text-align: left;
  top: 55px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 5px 5px;
  background: #ffffff;
  border: 1px solid #a889c6;
  box-sizing: border-box;
  border-radius: 5px;
}

#name:focus {
  background-color: rgb(231, 170, 170);
}
#phone {
  position: absolute;
  text-align: left;
  top: 85px;
  width: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 5px;
  margin-bottom: 2rem;
  background: #ffffff;
  border: 1px solid #a889c6;
  box-sizing: border-box;
  border-radius: 5px;
}
#phone:focus {
  background-color: rgb(231, 170, 170);
}

.bottom {
  position: absolute;
  top: 240px;
  right: 0;
  left: 0;
  width: 100%;
  height: 300px;
}

.text {
  position: absolute;
  top: 10px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  padding-left: 12px;
}

.bottom #oldPwd {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 5px 5px;
  background: #ffffff;
  border: 1px solid #a889c6;
  box-sizing: border-box;
  border-radius: 2px;
}
.bottom #newPwd {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 5px 5px;
  background: #ffffff;
  border: 1px solid #a889c6;
  box-sizing: border-box;
  border-radius: 2px;
}
.bottom #newPwdConf {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 5px 5px;
  background: #ffffff;
  border: 1px solid #a889c6;
  box-sizing: border-box;
  border-radius: 2px;
}

.rangeContainer {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 210px;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 5px;

  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textMax {
  padding-left: 10px;
  font-family: "Roboto";
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
}
.range {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(57, 148, 201);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(76, 130, 175);
  cursor: pointer;
}

.save {
  position: absolute;
  top: 360px;
  left: 50%;
  transform: translate(-50%, 0%);
  position: relative;
  background-color: rgb(17, 22, 17);
  border: none;
  font-size: 12px;
  color: #ffffff;
  padding: 10px;
  width: 100px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.save:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.save:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.back {
  display: inline-block;
}
